.card_bg{
    background-color: yellow;
    /* color: yellow; */
    background: yellow;
}
.imgsrc{
    width: 250px;
    height: 150px;
}
.card1:hover{
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgb(214, 213, 213);
    transition: transform;

}